boto3==1.9.23
git+https://github.com/swiftstack/botocore.git@1.12.23.1#egg=botocore
git+https://github.com/swiftstack/container-crawler.git@0.0.17#egg=container-crawler
requests
python-swiftclient
lxml
eventlet<0.23.0
