boto3==1.9.23
git+https://github.com/swiftstack/botocore.git@1.12.23.1#egg=botocore
git+https://github.com/swiftstack/container-crawler.git@0.1.0#egg=container-crawler
requests
python-swiftclient
lxml
eventlet>=0.17.4,!=0.23.0
git+https://github.com/swiftstack/py-statsd.git@ss-release-1.7.4#egg=pystatsd
